.bg-img5{
    background-color: black;
}
.head2{
    color:white;
}
.para2{
    color:white;
}
.img2{
    padding:10px;
}
.btn1{
    color:black;
    background-color: white;
    border-radius: 10px;
}